[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/third_party/GLM"]
	path = engine/third_party/GLM
	url = https://github.com/g-truc/glm
