[submodule "engine/third_party/glfw"]
	path = engine/third_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/third_party/GLM"]
	path = engine/third_party/GLM
	url = https://github.com/g-truc/glm
[submodule "engine/third_party/imgui"]
	path = engine/third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/third_party/stb"]
	path = engine/third_party/stb
	url = https://github.com/nothings/stb.git
